@import url("./styles/reset.css");
@import url("./styles/helpers.css");
@import url("./styles/header.css");
@import url("./styles/hero.css");
@import url("./styles/product-components.css");
@import url("./styles/how-it-works.css");
@import url("./styles/method.css");

.logo {
  font-family: "Makuktu", sans-serif;
  font-weight: 400;
}

/* Golden rules and why us sections */
.golden-rules,
.why-us {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.golden-rules .section__header,
.why-us .section__header {
  margin-bottom: 3rem;
}

.content--half {
  padding: 4rem;
  flex: 1 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__item {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

.content__item p {
  max-width: 47ch;
  margin-top: 0.5rem;
  color: var(--accent-light);
}

.content__logo {
  font-size: 2.4rem;
}

.image--half img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .golden-rules {
    flex-direction: row;
  }

  .why-us {
    flex-direction: row-reverse;
  }

  .content__logo {
    font-size: 3.6rem;
  }

  .image--half {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .content--half {
    padding: 7rem;
  }

  .content__item {
    font-size: 1.6rem;
  }
}

.benefits {
  padding: 4rem 0;
  background: var(--bg-variant-2);
}

.benefits__phases {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  margin-top: 4rem;
  position: relative;
}

.phase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  flex-basis: 100%;

  text-align: center;
  color: var(--accent-light);
}

.benefits__line {
  position: absolute;
  width: 59%;
  left: 21%;
}

@media (min-width: 768px) {
  .benefits {
    padding: 6.5rem 0;
  }

  .phase {
    flex-basis: 30%;
  }
}

/* Hair cycle */
.hair-cycle {
  padding: 4rem 0;
}

.hair-cycle__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .hair-cycle {
    padding: 5rem 0;
  }

  .hair-cycle .title {
    position: relative;
    top: 2rem;
    margin-bottom: 0;
  }
}

/* About */
.about {
  padding-top: 3rem;
}

.about__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin-top: 2rem;
  padding-bottom: 3rem;
}

.about__items .item {
  border-radius: 5px 5px 0px 0px;
}

.about__items .item__image img {
  display: block;
}

.about__items .item__content {
  background: #030106;
  color: white;

  text-align: center;
  padding: 0 2rem 4rem;

  position: relative;
}

.about__items .item__content .title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.about__items .item__content .desc {
  font-size: 1.4rem;
}

.about__items .item__content .btn {
  position: absolute;
  bottom: 0;
  left: 50%;

  translate: -50% 50%;

  width: 65%;
  height: 4rem;
}

@media (min-width: 768px) {
  .about__items {
    padding-bottom: 10rem;
  }
}

@media (min-width: 991px) {
  .about {
    padding-top: 6rem;
  }

  .about__items {
    flex-direction: row;
  }

  .about__items .item__content .title {
    font-size: 1.8rem;
  }

  .about__items .item__content .desc {
    font-size: 1.6rem;
  }
}

/* Why */
.why {
  padding: 3rem 0;
}

.why__images {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.why__desc {
  text-align: center;
}

@media (min-width: 768px) {
  .why {
    padding: 7rem 0 4rem;
  }

  .why__images {
    flex-direction: row;
    gap: 1.6rem;
  }

  .why__desc {
    font-size: 1.8rem;
  }
}
/* Results */
.results {
  padding: 3rem 0;
  background: var(--bg-variant-3);
}

.results__images {
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.results p {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .results {
    padding: 5rem 0 3rem;
  }

  .results__images {
    flex-direction: row;
    gap: 4rem;
  }
}

@media (min-width: 991px) {
  .results p {
    font-size: 1.8rem;
  }
}

/* Achievements */
.achievements {
  padding: 4rem 0;
}

.achievements__slider {
  padding-top: 8rem;
}

.achievements__slider .slide {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);

  position: relative;
}

.achievements__slider .slide img {
  width: 10rem;
  position: relative;
  top: -7rem;
}

.achievements__slider .slide p {
  margin-bottom: 3rem;
}

.achievements__slider .slide .name {
  font-size: 2rem;
}

.achievements__slider .slide .quote {
  position: absolute;
  left: 1rem;
  top: 85%;
  width: 5rem;
  height: 4rem;

  object-fit: contain;
  transform: rotate(-19.23deg);
  opacity: 0.4;
}

.achievements__slider__controls {
  margin-top: 4rem !important;
  display: flex !important;
  justify-content: center !important;
  width: unset !important;
  transform: unset !important;
}

@media (min-width: 768px) {
  .achievements__slider {
    gap: 4rem;
  }
}
