.about {
  padding-top: 3rem;
}

.about__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin-bottom: 6rem;
}

.about__items .item {
  border-radius: 5px 5px 0px 0px;
}

.about__items .item__image img {
  display: block;
}

.about__items .item__content {
  background: #030106;
  color: white;

  text-align: center;
  padding: 0 2rem 4rem;

  position: relative;
}

.about__items .item__content .title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.about__items .item__content .desc {
  font-size: 1.4rem;
}

.about__items .item__content .btn {
  position: absolute;
  bottom: 0;
  left: 50%;

  translate: -50% 50%;

  width: 65%;
  height: 4rem;
}

@media (min-width: 768px) {
  .about__items {
    flex-direction: row;
  }
}

@media (min-width: 991px) {
  .about {
    padding-top: 6rem;
  }

  .about__items {
    margin-bottom: 10rem;
  }

  .about__items .item__content .title {
    font-size: 1.8rem;
  }

  .about__items .item__content .desc {
    font-size: 1.6rem;
  }
}
