/* Golden rules and why us sections */
.golden-rules,
.why-us {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.golden-rules .section__header,
.why-us .section__header {
  margin-bottom: 3rem;
}

.content--half {
  padding: 4rem;
  flex: 1 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__item {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

.content__item p {
  max-width: 47ch;
  margin-top: 0.5rem;
  color: var(--accent-light);
}

.content__logo {
  font-size: 2.4rem;
}

.image--half img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .golden-rules {
    flex-direction: row;
  }

  .why-us {
    flex-direction: row-reverse;
  }

  .content__logo {
    font-size: 3.6rem;
  }

  .image--half {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .content--half {
    padding: 7rem;
  }

  .content__item {
    font-size: 1.6rem;
  }
}
