.container {
  width: 90%;
  max-width: 122rem;
  height: 100%;
  margin: 0 auto;
}

/* Section title and description */
.section__header {
  text-align: center;
}

.section__header .title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  position: relative;
  display: inline-block;
}

.section__header .title img {
  position: absolute;
  left: -1.5rem;
  top: -2rem;
  display: none;
}

.section__header .desc {
  font-size: 1.6rem;
  color: var(--accent-light);
}

@media (min-width: 768px) {
  .section__header .title img {
    display: block;
  }
}

@media (min-width: 991px) {
  .section__header .title {
    font-size: 2.4rem;
  }

  .section__header .desc {
    font-size: 1.8rem;
  }
}

/* Banner */
.banner {
  background-color: var(--primary);
  background-image: url("/assets/images/about-banner.png");
  background-repeat: repeat;
  background-position: left top;
  background-size: 8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  text-align: center;
  padding: 2rem;
  color: white;
}

@media (min-width: 768px) {
  .banner {
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Buttons */
.btn {
  background: none;
  border: none;
  outline: none;

  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn-primary {
  font-weight: 700;
  background: var(--primary);
  color: white;
  border-radius: 5rem 0px;

  transition: 150ms ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--primary-hover);
}

.btn-secondary {
  font-weight: 700;

  background: white;
  color: var(--primary);

  font-size: 1.4rem;

  padding: 1em 2.5em;
  border-radius: 0.5rem;

  transition: 200ms ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
  opacity: 0.8;
}
