.hero {
  width: 100%;
  height: 72rem;
  padding: 5rem 0 3rem;

  background: black;
  color: white;

  position: relative;

  overflow: hidden;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__content {
  display: flex;
}

.hero__content .content__text {
  flex-shrink: 0;
  padding-top: 6rem;
  z-index: 10;
}

.hero__content .content__image {
  position: absolute;
  left: -25%;
  top: 50%;
  transform: translate(0, -50%);
}

.content__text__year {
  font-size: 1.8rem;
  font-weight: 700;
}

.content__text__title {
  font-size: 2.6rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.content__text__label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.content__text__footer {
  display: flex;
  align-items: center;
}

.content__text__footer__item {
  color: var(--primary);
  padding-left: 2rem;
  margin-left: 2rem;

  font-size: 1.6rem;
}

.content__text__footer__item:not(:last-child) {
  border-left: 1px solid white;
}

.hero__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.details__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.details__item p {
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.details__item img {
  width: 6rem;
}

@media (min-width: 541px) {
  .hero__content .content__image {
    left: -15%;
  }

  .content__text__title {
    font-size: 3.4rem;
  }

  .content__text__label {
    font-size: 2.5rem;
  }

  .content__text__footer__item {
    font-size: 1.8rem;
  }

  .hero__details {
    flex-direction: column;
    gap: 3rem;
  }

  .details__item p {
    font-size: 2rem;
  }

  .details__item img {
    width: unset;
  }
}

@media (min-width: 991px) {
  .hero__content .content__image {
    left: -5%;
  }

  .hero__details {
    flex-direction: row;
    gap: 6rem;
  }
}

@media (min-width: 1200px) {
  .hero__content .content__image {
    left: 12%;
  }

  .content__text__title {
    font-size: 4.4rem;
  }

  .content__text__label {
    font-size: 2.8rem;
  }

  .content__text__footer__item {
    font-size: 1.8rem;
  }
}
