@import url("./reset.css");
@import url("./helpers.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./product-components.css");
@import url("./how-it-works.css");
@import url("./method.css");

.logo {
  font-family: "Makuktu", sans-serif;
  font-weight: 400;
}

/* Section title and description */
.section__header {
  text-align: center;
}

.section__header .title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  position: relative;
  display: inline-block;
}

.section__header .title img {
  position: absolute;
  left: -1.5rem;
  top: -2rem;
}

.section__header .desc {
  font-size: 1.6rem;
  color: var(--accent-light);
}

@media (min-width: 991px) {
  .section__header .title {
    font-size: 2.4rem;
  }

  .section__header .desc {
    font-size: 2rem;
  }
}

/* Golden rules and why us sections */
.golden-rules,
.why-us {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.golden-rules .section__header,
.why-us .section__header {
  margin-bottom: 3rem;
}

.content--half {
  padding: 4rem;
  flex: 1 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__item {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

.content__item p {
  max-width: 47ch;
  margin-top: 0.5rem;
  color: var(--accent-light);
}

.content__logo {
  font-size: 2.4rem;
}

.image--half img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .golden-rules {
    flex-direction: row;
  }

  .why-us {
    flex-direction: row-reverse;
  }

  .content__logo {
    font-size: 3.6rem;
  }

  .image--half {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .content--half {
    padding: 7rem;
  }

  .content__item {
    font-size: 1.6rem;
  }
}

.benefits {
  padding: 4rem 0;
  background: var(--bg-variant-2);
}

.benefits__phases {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  margin-top: 4rem;
  position: relative;
}

.phase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  flex-basis: 100%;

  text-align: center;
  color: var(--accent-light);
}

.benefits__line {
  position: absolute;
  width: 59%;
  left: 21%;
}

@media (min-width: 768px) {
  .benefits {
    padding: 6.5rem 0;
  }

  .phase {
    flex-basis: 30%;
  }
}

/* Hair cycle */
.hair-cycle {
  padding: 4rem 0;
}

.hair-cycle__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .hair-cycle {
    padding: 5rem 0;
  }

  .hair-cycle .title {
    position: relative;
    top: 2rem;
    margin-bottom: 0;
  }
}

/* Results */
.results {
  padding: 4rem 0;
  background: var(--bg-variant-3);
}

.results__images {
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.results p {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .results__images {
    flex-direction: row;
    gap: 4rem;
  }
}

@media (min-width: 991px) {
  .results p {
    font-size: 1.8rem;
  }
}
