.product-components {
  padding-bottom: 2rem;
}

.product-components__header {
  margin-bottom: 5rem;
}

.product-components__slider .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.component__desc {
  max-width: 38ch;
  text-align: center;
  line-height: 3rem;

  color: var(--accent-light);
}

@media (min-width: 991px) {
  .product-components {
    padding-bottom: 4rem;
  }
}
