/*============= Initial settings ==============*/

/* Tajawal Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* Defining Makuktu font */
@font-face {
  font-family: "Makuktu";
  src: url("../assets/fonts/Makutu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  /* Resting font scalling to use relative units */
  font-size: 62.5%;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;

  --nav-bg: linear-gradient(180deg, #e5e4cf 0%, #f6f6ee 100%);
  --bg: hsl(0, 0%, 100%);
  --bg-variant-1: #fbf1ee;
  --bg-variant-2: #f6f6ee;
  --bg-variant-3: #e5e4cf;

  --accent: #323232;
  --accent-2: #2b1c08;
  --accent-light: #707070;

  --primary: #4194f3;
  --primary-hover: #2077db;
}

body {
  font-family: Tajawal, sans-serif;
  font-size: 1.6rem;

  background: var(--bg);
  color: var(--accent);
}

body.no-scroll {
  overflow-y: hidden;
}

body.scrolled {
  padding-top: 7.2rem;
}

::selection {
  background: var(--primary);
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.6;
  color: var(--accent-light);
}

img,
video {
  max-width: 100%;
  user-select: none;
}

section {
  overflow: hidden;
}

button,
input {
  font-family: inherit;
}

/* Swiper */
.swiper-pagination {
  all: unset;
}

.swiper.no-overflow {
  overflow: unset !important;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;

  background: #d9d9d9 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 2.5em !important;
  background: var(--primary) !important;
}
